.mermaid {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}
.mermaid > svg {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
}
.mermaid svg * {
    font-size: 24px !important;
}
